[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
devx-cmd = "0.5.0"
devx-pre-commit = "0.5.0"
log = "0.4.28"
simple_logger = "5.1.0"

